/*Lato-Regular*/
@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato/Lato-Black.ttf);

}

body {
  font-family: 'Lato';
  letter-spacing: 3px;
  cursor: url ('/src/img/blossom-mouse.svg', auto);
}

button{
  text-decoration: dashed;
}

.layout {
  width: 100vw;
  height: 100vh;

  min-width: 50%;
  min-height: 50%;
  
  display: flex;
  gap: 10px;
}

.section-container {
  height: 100vh; /* For 100% screen height */
  width: 100vw; /* For 100% screen width */
  padding-top: 15%;

  /* --- FLEX --- */
  justify-content: center;
  align-items: center;
}

.grow1 {
   flex-grow: 1;
   background-color: white;
   text-align: center;
   justify-content: center;

   position: relative;
   margin: 5rem auto;
}

html {
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

#cursor {
  color:#000;
  animation: blink 1s linear infinite;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1500ms;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
}

/* overrides the default underline under 'a' from paper.css
 */
button > a {
  background-image: none !important;
}

/* typewriter effect */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0px solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing-effect 10s steps(200, end),
    blink-caret 0.75s step-end infinite;
}

span.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 1px solid #000; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing-effect 4.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing-effect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

/* H6 modify */
h6 {
  display: none;
  color: #6c757d;
}

#heartclick {
  padding-top: 25vh;
  max-width: 450px;
  width: 50px;
  display: none;
}

#hearclick:hover {
  cursor:grabbing;
}

